.carrosel-container {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  width: 90%;
}

.img-carrosel {
  padding: 5px;
  width: 150px;
}


.btn-carrosel {
  bottom: 0;
  position: fixed;
  background: none;
}
